
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-container .cards {
    background-color: rgb(226, 41, 41);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.card-container .cards:hover .card-over {
    transform: translateY(0%);
}
.card-container .title {
    color: #000;
    font-size: 1.5rem;
    padding: 1rem;
}
img {
    width: 500px;
    height: 350px;
    object-fit: cover;
}
img:hover {
    filter: grayscale(100%);
}
.card-over {
    width: 500px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding: 1rem;
    transform: translateY(100%);
    z-index: 1;
    transition: transform 0.7s ease-in-out;
}